/* App.css */

.App-logo {
  position: absolute;
  /* Align to the top */
  left: 20px;
  /* Align to the left */
  height: 175px;

}


.App-header {
  color: white;
  background: darkgreen;
  text-align: center;
  font-family: sans-serif;
  /* Ensure the font-family is correctly set */
  font-size: 80px;
  /* Adjusted for better layout */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
  height: auto;
  /* Added some padding */
}

.Header-content {
  display: flex;
  flex-direction: column;
  /* Stacks children vertically */
  align-items: center;
  /* Centers children horizontally */
}

.Subtitle {
  font-size: 40px;
  /* Adjust subtitle size */
}

.App-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 60vh;
  padding: 20px;
}

/* .footer {
  background-color: darkgreen;
  color: white;
  text-align: center;
  padding: 40px;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100%;
} */

/* Styling for footer at bottom */
.footer {
  background-color: darkgreen;
  color: white;
  font: sans-serif;
  padding: 40px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0%;
}

/* Styles the copyright to take up half of the width of the footer */
#copyright {
  width: 50%;
}


/* Styles the social media icons in the footer */
.fa {
  padding: 30px;
  width: 40px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 40%;
  justify-content: flex-end;
}


/*Styling for Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/*Styling for Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

/*Styling for Instagram */
.fa-instagram {
  background: #833AB4;
  color: white;

}

/*Styling for Youtube */
.fa-youtube {
  background: #b2071d;
  color: white;
}

/*Styling for linkedIN */
.fa-linkedin {
  background: #0072b1;
  color: white;
}