/* CookMode.css */

.cookMode {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  /* Set a high z-index to ensure it's in the foreground */
  width: 100%;
  background-color: #006400;
  height: 100vh;
  overflow: hidden;
}

.cookModeContainer {
  background-color: #006400;
  height: 100%;
  padding: 20px;
  margin-top: 125px;
}

.goBackButton {
  background-color: #4CAF50;
  /* Green background, matching other buttons */
  color: white;
  /* White text for contrast */
  padding: 10px 15px;
  /* Padding for button size */
  border-radius: 5px;
  /* Rounded corners */
  text-decoration: none;
  /* Removes underline */
  display: inline-block;
  /* Treats the link like a block element for padding */
  font-weight: bold;
  /* Bold text */
  border: none;
  /* Removes the border */
  transition: background-color 0.3s ease-in-out;
  /* Smooth color transition on hover */
  cursor: pointer;
  /* Changes cursor to pointer to indicate it's clickable */
}

.goBackButton:hover {
  background-color: #357a38;
  /* Darker green on hover for feedback */
}